In [1]:
import pandas as pd

data_review = pd.read_csv(r'D:\yelp_dataset\yelp_dataset~\IL_review.csv',index_col=0)
data_review.head(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,Ad91EzbAGRCR1SwkPfZJKg,LWTvg7RlyNLXIf482tXBPw,WCVFqK84i2H5EClSoow7ZA,5.0,0,0,0,"Traveling through in our RV, stopped over in G...",2016-07-21 17:41:18,2016
1,uGJubhANtj6sfP_xz8LeLQ,1EecTw-Iojid62ySMMl5gA,xR3inMR2KceU3b9dhkz_tw,4.0,0,0,0,The food and service was amazing! I only wish ...,2016-01-30 04:15:18,2016
2,xqp0pnO0PfBkaFRNaVImYw,c35f8FumQy5045zFbIir6w,_uyLoz0BbrQIVmUEm_td1Q,3.0,0,0,0,My husband had the 6 oz pepperloin meal and wa...,2018-06-09 01:10:44,2018

In [2]:
#USERS' FREQUENCIES
data_review.groupby('user_id').count()['business_id'].describe()

count    521.000000
mean       1.134357
std        0.465327
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        5.000000
Name: business_id, dtype: float64

In [3]:
# Load data
data_business = pd.read_csv(r'D:\yelp_dataset\yelp_dataset~\business_cj.csv',index_col=0)
data_users = pd.read_csv(r'D:\yelp_dataset\yelp_dataset~\IL_users.csv',index_col=0)

In [4]:
# create user tag by merging
user_tag = data_review.merge(data_business, left_on='business_id', right_on='business_id')
user_tag.columns

Index(['review_id', 'user_id', 'business_id', 'stars_x', 'useful', 'funny',
       'cool', 'text', 'date', 'year',
       ...
       'Buffets', 'Flowers & Gifts', 'Discount Store', 'Gas Stations',
       'Juice Bars & Smoothies', 'Electronics', 'Breweries', 'Home & Garden',
       'Florists', 'Cupcakes'],
      dtype='object', length=117)

In [5]:
# creating a group by
user_tag2 = user_tag.groupby('user_id').sum().iloc[:,12:]
user_tag2.shape

(521, 62)

In [6]:
# creating tags
tag = []
for i in range(user_tag2.shape[0]):
    tmp = user_tag2.iloc[i,:].sort_values(ascending=False)[:2].index.tolist()
    tag.extend(tmp)

In [7]:
#len(set(tag))

tag_all = user_tag2.idxmax(axis=1)
tag_list = list(set(tag_all))
tag_all_df = pd.DataFrame(tag_all).reset_index()

In [8]:
# updating tags

for tag in tag_list:
    data_users[tag] = 0

for ind,val in enumerate(tag_all):
    row = list(data_users['user_id']).index(tag_all_df['user_id'][ind])
    data_users.loc[row,val] = 1
    
data_users.iloc[:,24:].describe()

,Italian,Bakeries,Shopping,Nightlife,American (Traditional),Grocery,Specialty Food,Mexican,DietaryRestrictions,Convenience Stores,...,Salad,Sandwiches,Pizza,Barbeque,Event Planning & Services,Cafes,Fast Food,American (New),Ice Cream & Frozen Yogurt,Japanese
count,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,...,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000,521.000000
mean,0.017274,0.009597,0.015355,0.117083,0.211132,0.005758,0.001919,0.024952,0.145873,0.003839,...,0.009597,0.019194,0.105566,0.003839,0.007678,0.003839,0.107486,0.153551,0.011516,0.017274
std,0.130417,0.097586,0.123079,0.321828,0.408504,0.075736,0.043811,0.156129,0.353318,0.061898,...,0.097586,0.137338,0.307577,0.061898,0.087368,0.061898,0.310027,0.360864,0.106797,0.130417
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
# creating outfile
data_users.to_csv(r'D:\yelp_dataset\yelp_dataset~/users_tag.csv')